/*Main CSS*/

body{
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	line-height: 1.5em;
	background-color: ${bgcolor};
}

#container{
	width: 960px;
	margin: 0 auto;
	padding: 0;
}	

#title{
	height: 75px;	
	padding:0;
	margin: 20px 0;
	border-bottom: 2px solid #eeeeee;
}	

#leftTitle{
	float: left;
	width: 430px;
	padding: 0;
}

h1{
	color: #0fd9d7;
	padding: 5px 0;
	margin: 0;
	text-align: left;
}

h2{
	color: #cccccc;
	padding:5px 0;
	margin: 0;
	text-align: left;
}

#rightTitle{
	width: 480px;
	float: left;
	padding: 0;
}

h3{
	color: #cccccc;
	float: left;
	padding: 0;
	text-align: right;
}

#flashMovie{
	clear: both;
	margin: 0 auto;
	text-align: center;
	width: 808px;
}

#footer{
	border-top: 2px solid #eeeeee;
	margin-top: 20px; 	
	font-size: 22px;	
}	

#copyright{
	color: #464646;
	text-align: left;
	float: left;
	width: 420px;
	margin: 10px 0 0 0;
}	

#copyright a:link{
	text-decoration: none;
	color: #001eff;
}	

#copyright a:visited{
	text-decoration: none;
	color: #eeeeee;
}

#copyright a:hover{
	color: #0fd9d7
}

#copyright a:active{
	text-decoration: none;
	color: ${bgcolor};
}


#valid{
	float: left;
	color: #464646;
	text-align: right;
	width: 220px;
	margin: 10px 0 0 0;
}

#fsoImg{
	text-align: right;
	color:#eeeeee;
	float: left;
	width: 320px;
	margin: 10px 0 0 0;
}